/* ホームバー */
.homevar {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
}

.varbtn {
    text-decoration: none;
    color: white;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 16%;
}

.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.detailiag {
    width: 60%;
    height: 400px;
}