/* ホームバー */
.homevar {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
}

.varbtn {
    text-decoration: none;
    color: white;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    padding: 1px;
    text-align: center;
    width: 20%;
}

.itemimg {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.detailiag {
    width: 60%;
    height: 400px;
}

.homevarimg {
    height: 50%;
    width: 65%;
    margin: 16px 15px;
}

.search-box {
    height: 30px;
    width: 75%;
    margin-top: 2%;
}

.btn {
    margin-top: 1.3%;
}

.listingbtn {
    background-color: white;
    padding: 2px 20px;
}

.homevarsearch {
    width: 40%;
}

.tab-button {
    border: none;
    background-color: white;
    color: black;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

.tab-button.active {
    color: red;
    /* 選択中のボタンの文字色 */
}

.tabs {
    display: flex;
    border-bottom: 1px solid #000;
    margin-bottom: 3%;
    margin-top: 3%;
}

.logoutbtn {
    background-color: black;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 100%;
    width: 200px;
    margin-top: 9%;
}

.guestbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mypagebtn {
    margin-top: 6%;
}

.registerbtn {
    margin-top: 25%;
    text-align: center;
}

/* 768px以下のスタイル */
@media (max-width: 768px) {
    .item {
        width: 20%;
        /* 横に5つ並べる */
    }

    .itemimg {
        width: 80%;
        height: auto;
    }

    .tabs {
        justify-content: flex-start;
        gap: 20px;
    }

    .homevarsearch {
        width: 40%;
    }

    .search-box {
        width: 75%;
    }

    .guestbtn {
        display: flow;
        width: 20%;
        text-align: center;
    }

    .logoutbtn {
        margin-left: -15%;
    }

    .guestbtn {
        justify-content: flex-end;
    }
}