/* ホームバー */
.homevar {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
}

.varbtn {
    text-decoration: none;
    color: white;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    padding: 1px;
    text-align: center;
    width: 20%;
}

.item img {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.detailiag {
    width: 60%;
    height: 400px;
}

.homevarimg {
    height: 50%;
    width: 65%;
    margin: 16px 15px;
}

.search-box {
    height: 30px;
    width: 75%;
    margin-top: 2%;
}

.btn {
    margin-top: 1.3%;
}

.listingbtn {
    background-color: white;
    padding: 2px 20px;
}

.homevarsearch {
    width: 40%;
}

.tab-button {
    border: none;
    background-color: white;
    color: black;
    /* デフォルトの文字色 */
    background-color: transparent;
    /* 必要に応じて */
    cursor: pointer;
}

.tab-button.active {
    color: red;
    /* 選択中のボタンの文字色 */
}

.tabs {
    display: flex;
    border-bottom: 1px solid #000;
    margin-bottom: 3%;
    margin-top: 3%;
}

.logoutbtn {
    background-color: black;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 100%;
    width: 200px;
    margin-top: 9%;
}

.guestbtn {
    display: flex;
}

.mypagebtn {
    margin-top: 6%;
}

.registerbtn {
    margin-top: 31%;
}